In [2]:
library(haven)
wagedata<-read_dta("WAGE1.DTA")

In [2]:
#baseline regression
reg1<- lm(lwage~female + educ + exper + tenure, data = wagedata)
summary(reg1)

Call:
lm(formula = lwage ~ female + educ + exper + tenure, data = wagedata)

Residuals:
     Min       1Q   Median       3Q      Max
-1.91588 -0.26192 -0.02399  0.26349  1.27352

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept)  0.501348   0.101902   4.920 1.16e-06 ***
female      -0.301146   0.037246  -8.085 4.37e-15 ***
educ         0.087462   0.006939  12.605  < 2e-16 ***
exper        0.004629   0.001627   2.845  0.00461 **
tenure       0.017367   0.002976   5.835 9.45e-09 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.416 on 521 degrees of freedom
Multiple R-squared:  0.3923,	Adjusted R-squared:  0.3876
F-statistic: 84.07 on 4 and 521 DF,  p-value: < 2.2e-16

In [3]:
#allow interaction with education
reg2<-lm(lwage~female * educ + exper + tenure, data = wagedata)
summary(reg2)

Call:
lm(formula = lwage ~ female * educ + exper + tenure, data = wagedata)

Residuals:
     Min       1Q   Median       3Q      Max
-1.91695 -0.26530 -0.02059  0.25715  1.27586

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept)  0.464712   0.122892   3.781 0.000174 ***
female      -0.210376   0.173969  -1.209 0.227107
educ         0.090276   0.008715  10.359  < 2e-16 ***
exper        0.004642   0.001628   2.850 0.004541 **
tenure       0.017436   0.002981   5.849 8.76e-09 ***
female:educ -0.007245   0.013562  -0.534 0.593456
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.4162 on 520 degrees of freedom
Multiple R-squared:  0.3926,	Adjusted R-squared:  0.3868
F-statistic: 67.22 on 5 and 520 DF,  p-value: < 2.2e-16

In [6]:
#chow test
#restricted regression
reg1<- lm(lwage~ educ + exper + tenure, data = wagedata)
summary(reg1)
#calculate sum of squared residuals
SSR_r <- sum(reg1$residuals^2)
SSR_r
#calculate n
n_all <- nobs(reg1)
n_all

Call:
lm(formula = lwage ~ educ + exper + tenure, data = wagedata)

Residuals:
     Min       1Q   Median       3Q      Max
-2.05802 -0.29645 -0.03265  0.28788  1.42809

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 0.284360   0.104190   2.729  0.00656 **
educ        0.092029   0.007330  12.555  < 2e-16 ***
exper       0.004121   0.001723   2.391  0.01714 *
tenure      0.022067   0.003094   7.133 3.29e-12 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.4409 on 522 degrees of freedom
Multiple R-squared:  0.316,	Adjusted R-squared:  0.3121
F-statistic: 80.39 on 3 and 522 DF,  p-value: < 2.2e-16

[1] 101.4556

[1] 526

In [5]:
#Female-only regression
reg3<-lm(lwage~ educ + exper + tenure, data = wagedata, subset = (female==1))
summary(reg3)
SSR_F <- sum(reg3$residuals^2)
SSR_F

Call:
lm(formula = lwage ~ educ + exper + tenure, data = wagedata,
    subset = (female == 1))

Residuals:
     Min       1Q   Median       3Q      Max
-1.96850 -0.23365 -0.06671  0.21956  1.17698

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 0.356116   0.141063   2.525   0.0122 *
educ        0.080036   0.010462   7.650 4.44e-13 ***
exper       0.002268   0.002105   1.077   0.2823
tenure      0.010274   0.005223   1.967   0.0503 .
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.3967 on 248 degrees of freedom
Multiple R-squared:  0.2119,	Adjusted R-squared:  0.2024
F-statistic: 22.23 on 3 and 248 DF,  p-value: 8.771e-13

[1] 39.0353

In [7]:
#Male-only regerssion
reg4<-lm(lwage~ educ + exper + tenure, data = wagedata, subset = (female==0))
summary(reg4)
SSR_M<- sum(reg4$residuals^2)
SSR_M

Call:
lm(formula = lwage ~ educ + exper + tenure, data = wagedata,
    subset = (female == 0))

Residuals:
    Min      1Q  Median      3Q     Max
-1.4849 -0.2784 -0.0103  0.2665  1.2670

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 0.321899   0.139460   2.308  0.02174 *
educ        0.096264   0.009352  10.294  < 2e-16 ***
exper       0.008127   0.002496   3.256  0.00128 **
tenure      0.018213   0.003769   4.832 2.27e-06 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.4284 on 270 degrees of freedom
Multiple R-squared:  0.3655,	Adjusted R-squared:  0.3584
F-statistic: 51.84 on 3 and 270 DF,  p-value: < 2.2e-16

[1] 49.54719

In [8]:
#Calculate F-statistic for Chow test
Chow<-((SSR_r-(SSR_F + SSR_M))/(3+1))/((SSR_F + SSR_M)/(n_all-2*(3+1)))
Chow

[1] 18.81934

In [3]:
LFPdata<-read_dta("MROZ.DTA")
head(LFPdata)

  inlf hours kidslt6 kidsge6 age educ wage   repwage hushrs husage ⋯ faminc
1 1    1610  1       0       32  12   3.3540 2.65    2708   34     ⋯ 16310
2 1    1656  0       2       30  12   1.3889 2.65    2310   30     ⋯ 21800
3 1    1980  1       3       35  12   4.5455 4.04    3072   40     ⋯ 21040
4 1     456  0       3       34  12   1.0965 3.25    1920   53     ⋯  7300
5 1    1568  1       2       31  14   4.5918 3.60    2000   32     ⋯ 27300
6 1    2032  0       0       54  12   4.7421 4.70    1040   57     ⋯ 19495
  mtr    motheduc fatheduc unem city exper nwifeinc  lwage      expersq
1 0.7215 12        7        5.0 0    14    10.910060 1.21015370  196
2 0.6615  7        7       11.0 1     5    19.499981 0.32851210   25
3 0.6915 12        7        5.0 0    15    12.039910 1.51413774  225
4 0.7815  7        7        5.0 0     6     6.799996 0.09212332   36
5 0.6215 12       14        9.5 1     7    20.100058 1.52427220   49
6 0.6915 14        7        7.5 1    33     9.859054 1.55648005 1089

In [4]:
reg5<- lm(inlf~nwifeinc + educ + exper + expersq + age + kidslt6 + kidsge6, data = LFPdata)
summary(reg5)

Call:
lm(formula = inlf ~ nwifeinc + educ + exper + expersq + age +
    kidslt6 + kidsge6, data = LFPdata)

Residuals:
     Min       1Q   Median       3Q      Max
-0.93432 -0.37526  0.08833  0.34404  0.99417

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  0.5855192  0.1541780   3.798 0.000158 ***
nwifeinc    -0.0034052  0.0014485  -2.351 0.018991 *
educ         0.0379953  0.0073760   5.151 3.32e-07 ***
exper        0.0394924  0.0056727   6.962 7.38e-12 ***
expersq     -0.0005963  0.0001848  -3.227 0.001306 **
age         -0.0160908  0.0024847  -6.476 1.71e-10 ***
kidslt6     -0.2618105  0.0335058  -7.814 1.89e-14 ***
kidsge6      0.0130122  0.0131960   0.986 0.324415
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.4271 on 745 degrees of freedom
Multiple R-squared:  0.2642,	Adjusted R-squared:  0.2573
F-statistic: 38.22 on 7 and 745 DF,  p-value: < 2.2e-16

In [ ]:
wagedata2<-read_dta("WAGE2.DTA")
head(wagedata2)

In [ ]:
#baseline regression
reg6<-lm(lwage ~ educ + exper, data = wagedata2)
summary(reg6)

In [ ]:
#regression with proxy variable
reg7<- lm(lwage ~ educ + exper + IQ, data = wagedata2)
summary(reg7)